<div class="main_div">
  <div class="sub_div">
    <div>
      <div class="img1">
        <img src="../../assets/Icons/third-row-left.jpg" alt="" />
        <p class="heading">Transforming</p>
        <p class="heading1">organizations, driving value</p>
        <p class="para_p">
          People are the core to our every team, business, and process. We bring
          value by optimally combining the art and science of finding the right
          talent and the right role. Our streamlined processes and understanding
          of industry dynamics empower us to efficiently solve talent and
          recruitment problems.
        </p>
        <div class="para_btn">
          <button>Learn about our solutions <img src="../../assets/Icons/white-arrow.png" alt="arrow" width="15" height="15"></button>
          <button>Find Jobs <img src="../../assets/Icons/black-arrow.png" alt="arrow" width="15" height="15"> </button>
        </div>
      </div>
    </div>
    <div class="img2">
      <img src="../../assets/Icons/third-row-right.jpg" alt="" />
      <div class="para_right">
        <img src="../../assets/Icons/finest-talent.png" alt="" width="100px" height="100px">
        <p>RPO</p>
      </div>
    </div>
  </div>
</div>
