.main_div {
  width: 100%;
}
.heading,
.heading1 {
  position: absolute;
  top: 100px;
  left: 250px;
  width: 400px;
  font-size: 42.5px;
  line-height: 51px;
  font-weight: 600;
}
.heading1 {
  position: absolute;
  top: 151px;
  left: 250px;
  width: 300px;
}
.para_p {
  position: absolute;
  top: 350px;
  left: 250px;
  width: 400px;
  font-size: 18px;
  color: #fff;
}
.sub_div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 700px;
}
.para_btn {
  display: flex;
  position: relative;
  top: 30px;
  left: 240px;
}
.para_btn > button:nth-child(1) {
  border: none;
  padding: 20px;
  border-radius: 50px;
  font-size: 18px;
  color: #fff;
  background-color: black;
}
.para_btn > button:nth-child(1):hover {
  background-color: #b5524a;
}
.para_btn > button:nth-child(2) {
  border: 2px solid rgb(28, 28, 28);
  padding: 20px;
  border-radius: 50px;
  margin-left: 30px;
  color: rgb(28, 28, 28);
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}
.para_right > img {
  position: absolute;
  top: 380px;
  left: 980px;
  font-size: 18px;
  color: #fff;
}
.para_right > p {
  position: absolute;
  top: 490px;
  left: 1010px;
  width: 400px;
  font-size: 18px;
  color: #fff;
}

.para_btn > button:nth-child(2):hover {
  background-color: rgb(28, 28, 28);
  color: white;
  font-size: 18px;
}
.img1 > img {
  width: 800px;
  height: 230px;
  margin-top: 240px;
  z-index: 0;
}
.img2 > img {
  height: 100%;
  width: 500px;
  padding-left: 50px;
  z-index: 0;
}
